<form action="/api/produtos" method="post">
    <label for="barCode">Código de barra:</label>
    <input type="number" name="barCode"
    placeholder="código de barra"><br>

    <label for="name">Nome:</label>
    <input type="text" name="name"
    placeholder="Nome"><br>

    <label for="description">Descrição:</label>
    <input type="text" name="description"
    placeholder="descrição"><br>

    <label for="brand">Marca:</label>
    <input type="text" name="brand"
    placeholder="marca"><br>

    <label for="price">Preço:</label>
    <input type="number" name="price"
    placeholder="Nome"><br>

    <label for="quantity">Quantidade:</label>
    <input type="number" name="quantity"
    placeholder="quantidade">
<br>
<button type="submit">Cadastrar</button>
</form>